<?xml version="1.0" encoding="UTF-8"?>
<flow-definition plugin="workflow-job@2.17">
   <actions>
      <org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction plugin="workflow-multibranch@2.17">
         <jobPropertyDescriptors>
            <string>org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty</string>
            <string>hudson.model.ParametersDefinitionProperty</string>
            <string>jenkins.model.BuildDiscarderProperty</string>
         </jobPropertyDescriptors>
      </org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction>
   </actions>
   <description />
   <keepDependencies>false</keepDependencies>
   <properties>
      <io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty plugin="openshift-sync@1.0.4">
         <uid />
         <namespace />
         <name />
         <resourceVersion />
      </io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty>
      <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.3">
         <gitLabConnection>redhatgitlab</gitLabConnection>
      </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
      <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
         <autoRebuild>false</autoRebuild>
         <rebuildDisabled>false</rebuildDisabled>
      </com.sonyericsson.rebuild.RebuildSettings>
      <jenkins.model.BuildDiscarderProperty>
         <strategy class="hudson.tasks.LogRotator">
            <daysToKeep>90</daysToKeep>
            <numToKeep>15</numToKeep>
            <artifactDaysToKeep>30</artifactDaysToKeep>
            <artifactNumToKeep>15</artifactNumToKeep>
         </strategy>
      </jenkins.model.BuildDiscarderProperty>
      <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty />
      <hudson.model.ParametersDefinitionProperty>
         <parameterDefinitions>
            <hudson.model.StringParameterDefinition>
               <name>CI_MESSAGE</name>
               <description>CI Message that triggered the pipeline</description>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>PROJECT_REPO</name>
               <description>Main project repo</description>
               <defaultValue>downstream-rhel8-pipeline</defaultValue>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>MAIN_TOPIC</name>
               <description>Main topic to publish on</description>
               <defaultValue />
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>MSG_PROVIDER</name>
               <description>Main provider to send messages on</description>
               <defaultValue>Red Hat UMB</defaultValue>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>BREW_PRINCIPAL</name>
               <description>Principal for authenticating with brew build system</description>
               <defaultValue />
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>gitlabMergeRequestLastCommit</name>
               <description />
               <defaultValue>master</defaultValue>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>gitlabSourceNamespace</name>
               <description />
               <defaultValue>contra</defaultValue>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>gitlabSourceRepoName</name>
               <description />
               <defaultValue>downstream-rhel8-pipeline</defaultValue>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>sha1</name>
               <description />
               <defaultValue />
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>gitlabMergeRequestIid</name>
               <description />
               <defaultValue />
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>gitlabUserEmail</name>
               <description />
               <defaultValue />
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>gitlabSourceRepoHttpUrl</name>
               <description />
               <defaultValue />
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>gitlabTargetNamespace</name>
               <description />
               <defaultValue />
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>gitlabTargetRepoName</name>
               <description />
               <defaultValue />
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>SLAVE_TAG</name>
               <description>Tag for slave image</description>
               <defaultValue>stable</defaultValue>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>RPMBUILD_RHEL_TAG</name>
               <description>Tag for rpmbuild-rhel image</description>
               <defaultValue>stable</defaultValue>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>IMAGE_COMPOSE_RHEL_TAG</name>
               <description>Tag for image-compose-rhel image</description>
               <defaultValue>stable</defaultValue>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>SINGLEHOST_TEST_TAG</name>
               <description>Tag for singlehost test image</description>
               <defaultValue>stable</defaultValue>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>DOCKER_REPO_URL</name>
               <description>Docker repo url for Openshift instance</description>
               <defaultValue>172.30.99.135:5000</defaultValue>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>OPENSHIFT_NAMESPACE</name>
               <description>Project namespace for Openshift operations</description>
               <defaultValue>continuous-infra</defaultValue>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>OPENSHIFT_SERVICE_ACCOUNT</name>
               <description>Service Account for Openshift operations</description>
               <defaultValue>jenkins</defaultValue>
            </hudson.model.StringParameterDefinition>
         </parameterDefinitions>
      </hudson.model.ParametersDefinitionProperty>
   </properties>
   <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.45">
      <scm class="hudson.plugins.git.GitSCM" plugin="git@3.7.0">
         <configVersion>2</configVersion>
         <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
               <url>https://gitlab.cee.redhat.com/contra/downstream-rhel8-pipeline.git</url>
            </hudson.plugins.git.UserRemoteConfig>
         </userRemoteConfigs>
         <branches>
            <hudson.plugins.git.BranchSpec>
               <name>*/master</name>
            </hudson.plugins.git.BranchSpec>
         </branches>
         <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
         <submoduleCfg class="list" />
         <extensions />
      </scm>
      <scriptPath>Jenkinsfile</scriptPath>
      <lightweight>false</lightweight>
   </definition>
   <triggers />
   <disabled>false</disabled>
</flow-definition>
